.infor-company__table {
    padding: 16px 24px 16px 24px;
    width: fit-content;
}

.infor-company__header {
    padding-right: 16px;
    font-weight: bolder;
}

td.infor-company__header {
    white-space: nowrap;
}
