.profile-contact__name {
    font-size: 1.6rem;
}

.profile__header {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.profile__icon {
    margin-right: 4px;
}

.profile-contact__input {
    min-width: 80%;
}

.profile-contact__row {
    margin-bottom: 8px;
}

.profile-work-history-item__company-name {
    font-size: 1.6;
    font-weight: bold;
}

.profile-work-history-item__btn {
    margin-top: 4px;
}
