.company-detail-header {
    margin-top: 4px;
    margin-bottom: 4px;
}

.company-detail-header__img {
    min-width: 100%;
    padding: 4px;
}

img.company-detail-header__img {
    border-radius: 4%;
}

.company-detail-body {
    margin: "4px 0 4px 0";
    padding-bottom: 6px;
}
